<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mapping Prisoner Unrest</title>
    <meta charset="utf-8">
    <meta property="og:image" content="{{url_for('static', filename='screenshot.png')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key={{maps_api_key}}'></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="my-2" id="head">
        <h1>Mapping Prisoner Unrest</h1>
        <span>
            using data from
            <a class="text-warning" href="https://perilouschronicle.com">
                Perilous Chronicle
            </a>
            (<a class="text-warning" href="/covid">COVID-19 map</a>)
        </span>
    </div>

    <div class="my-3" id="controls">
        <button role="button" aria-label="Back to first month" class="btn btn-outline-warning" id="begin">&lt;&lt;</button>
        <button role="button" aria-label="Previous month" class="btn btn-outline-warning" id="prev">&lt;</button>
        <div class="mx-3" id="month">Loading...</div>
        <button role="button" aria-label="Start playing through months" class="btn btn-outline-warning" id="play">Play</button>
        <button role="button" aria-label="Next month" class="btn btn-outline-warning" id="next">&gt;</button>
        <button role="button" aria-label="Last month" class="btn btn-outline-warning" id="last">&gt;&gt;</button>
    </div>
    <div id="map">
    </div>

    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>
